$text-color: #9BA0AD
$dark-bg-color: #01134E
$first-accent-color:  #0ad69c
$light-accent-color: #f7f9fc
$titleText: #546087
$inputColor: #F2F2F2
$inputBackg: #FCFCFC
$inputText: #35373B
$input2Text: #222428