@import "color-palette"

@mixin font($fontname, $size)
  font-family: $fontname, sans-serif
  font-size: $size

@mixin firstLastInput()
  width: 280px
  line-height: 40px
  padding: 0px 13px
  border: 2px solid #F2F2F2
  border-radius: 4px
  background-color: #FCFCFC
  &::placeholder
    @include font('Roboto', 14px)
    font-style: normal
    font-weight: normal
    line-height: 16px
    letter-spacing: 0.28px
    color: #000

@mixin title_mail()
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  @include font('Exo 2', 50px)
  font-style: normal
  font-weight: 600
  line-height: 60px
  text-align: center
  letter-spacing: 0.4px
  color: $selectedMenuBorder