doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title
            | Messenger | My Profile
    body
        .main-container
            include includes/navbar
            .content
                include includes/header
                main
                    block content