include includes/navbar
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title
            | Messenger | My Profile
    body
        .main-container
            - const page = {"isProfilePage": true}
            +navbar(page)
            .content
                include includes/header
                main
                    block content