include includes/navbar
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title
            | Messenger | Chats
    body
        .main-container
            - const page = {"isMainPage": true}
            +navbar(page)
            .content
                include includes/header
                include includes/chat
