doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title
            | Messenger
    body
        .main-container
            include navbar
            .content
                include header
                include chat
