doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title
            block title
    body
        .main-container
            include navbar
            .content
                block header
                block chat
                    include chat
