include includes/mixins

-const contents = [ { "title":"Sign in 1.1", "page":"sign-in.html", "img":"./assets/Sign-in-1.1.png" },{ "title":"Password recovery", "page":"#", "img":"./assets/Password-recovery.png" },{ "title":"Password recovery 2", "page":"sign-in-success.html", "img":"./assets/Password-recovery-2.png" },{ "title":"Password recovery 3", "page":"#", "img":"./assets/Password-recovery-3.png" },{ "title":"Chat", "page":"chat.html", "img":"./assets/template.png" },{ "title":"Sign up 1", "page":"#", "img":"./assets/Sign-up-1.png" },{ "title":"Sign up 2", "page":"#", "img":"./assets/Sign-up-2.png" },{ "title":"Profile", "page":"profile-personal.html", "img":"./assets/personal.png" }, { "title":"Search", "page":"#", "img":"./assets/results.png" }]
html(lang='en')
    head
        meta(charset='UTF-8')
        title
            | Messenger | Preview
    body
        .container__prewiew
            each content in contents
                +preview(content)
