doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title
            | Messenger | Reset your password
        link(rel="stylesheet", href="./../styles/reset.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Exo+2|Roboto&display=swap")
    body.body2
        header.header1
            figure.header1__logo
                a(href='index.html')
                    img(src='./assets/logo2.svg' alt='' srcset='')
            .header1__question
                p.header1__text Back to
                a.header1__link(href='sign-in.html') Sigin In
        main.main__signin
            .main__wrap
                form.form(action='' method='get')
                    h3.form__headline Enter your e-mail to reset your password
                    input.form__input(type='text' placeholder='E-mail')
                    button.form__button Send