include includes/mixins

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title
            | Messenger | Check your E-mail
        link(rel="stylesheet", href="./../styles/reset.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Exo+2|Roboto&display=swap")
    body.body3
        header.header1
            figure.header1__logo
                a(href='index.html')
                    img(src='./assets/logo2.svg' alt='' srcset='')
            .header1__question
                p.header1__text Do not have an account?
                a.header1__link(href='sign-up.html') Sigin Up
        main.mainMail
            .bg
                img(src="./assets/MailCheck.svg", alt="")
            img(src="./assets/Letter.svg", alt="")
            .mailMessage_wrap
                p.title_mail= 'You are almost ready to go!'
                p.mailMessage Please check your email to activate your account
