header
    header.header
        ul.header__breadcrumps
            li
                a.header__item(href='#') Home
            img.separator(src='assets/shevron-right.svg', alt='shevron')
            li
                a.header__item(href='#') Network